/* background-color: #b41730; */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #b41730;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
  flex: 1;
  gap: 1rem;
}
.title{
  position: relative;
  font-family: 'ViaOffice', sans-serif;
  font-weight: 900;
  color: #f1f1f1;
  font-size: 3.5rem;
}

.chatContainer {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
  overflow: auto;
  border: none;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.chatArea {
  border: none;
  overflow-y: auto;
  padding: 20px;
}

.chatMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.message {
  margin-bottom: 10px;
  font-family: 'ViaOffice', sans-serif;
}

.buttonsContainer {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1a8;
}

.button {
  background-color: #b41730;
  border: none;
  border-radius: 30px;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: 'ViaOffice';
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.button:hover {
  /* background-color: #f1f1f1;
  color: #b41730; */
}
